<section id="homePageImg">
  <div class="container">
    <form
      method="post"
      action="/auth/signup"
      style="font-family: 'Alata', sans-serif"
      class="signUpForm"
    >
      <h2 class="signUpHeading">Create New Account</h2>
      <div class="form-group">
        <label>Username:</label>
        <input name="username" type="text" class="form-control" minlength="3" />
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input name="emailAddress" type="email" class="form-control" />
      </div>

      <div class="form-group">
        <label>Password:</label>
        <input
          name="password"
          type="password"
          class="form-control"
          minlength="6"
        />
      </div>

      <h2 class="signInHeading">Complete your Music Profile</h2>
      <p style="text-align: center">
        Your input will help us suggest the appropriate music!
      </p>

      <div class="form-group">
        <label>Music Preference:</label
        ><select type="text" name="musicPreferences" class="form-control">
          <option value="">Select Music Preference</option>
          <option value="JAZZ">JAZZ</option>
          <option value="CLASSICAL">CLASSICAL</option>
          <option value="ROCK">ROCK</option>
          <option value="POP">POP</option>
          <option value="COUNTRY">COUNTRY</option>
          <option value="FOLK">FOLK</option>
        </select>
      </div>

      <div class="form-group">
        <label>Which decade were you born in?</label>
        <input
          name="yearOfBirth"
          type="number"
          min="1900"
          max="2022"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Country of Youth (ages 10 - 18):</label>
        <input name="countryOfYouth" type="text" class="form-control" />
      </div>

      <a href="/user/profile"
        ><button class="btn btn-primary" id="createProfile">
          Create Profile
        </button></a
      >
    </form>
  </div>
</section>
