#homePageImg {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/9571524f-d3e9-461e-9bf5-371e4ca00656/dbac2de-ccd8837e-4280-46fe-9d34-55be1b06e289.png");
  height: 100vh;
  background-repeat: repeat;
  background-position: center;
}

.body {
  background-color: #f1cb66;
}

.container {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-fluid {
  text-align: center;
  font-family: "Alata", sans-serif;
}

#mainPageTitle {
  font-family: "Great Vibes", cursive;
  letter-spacing: 2px;
  font-size: 60px;
}

#mainHeader {
  font-family: "Great Vibes", cursive;
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 20px;
}

nav {
  text-align: center;
}

#titleBorder {
  text-shadow: 1px 1px white;
}

#saveMusicNav {
  text-align: left;
  background-color: lightslategray;
  color: white;
  padding: 10px;
  font-family: "Alata", sans-serif;
}

#navButtons {
  padding: 5px;
  margin: 5px;
  background-color: #8fa06a;
  color: white;
  border: 5px solid #45673e;
  border-style: ridge;
  text-shadow: 2px 2px #45673e;
}

#appDescription {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 4;
  background-color: #f1cb66;
  padding: 10px;
}

.signInHeading {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 20px;
  margin: 25px;
  text-align: center;
}

.signInForm {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Alata", sans-serif;
  background-color: #f1cb66;
  padding: 10px;
  border: 5px solid #c6aba9;
  border-style: ridge;
  text-shadow: 1px 1px white;
}

#signInButton {
  margin: 10px;
  background-color: #8fa06a;
  color: white;
  border: 5px solid #45673e;
  border-style: ridge;
  text-shadow: 2px 2px #45673e;
}

.signUpForm {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Alata", sans-serif;
  text-align: left;
  background-color: #f1cb66;
  padding: 10px;
  border: 5px solid #c6aba9;
  border-style: ridge;
  text-shadow: 1px 1px white;
}

.signUpHeading {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #f1cb66;
  padding: 0px 0px 10px 0px;
}

#createProfile {
  margin: 20px 0px 20px 0px;
  background-color: #8fa06a;
  color: white;
  border: 5px solid #45673e;
  border-style: ridge;
  text-shadow: 2px 2px #45673e;
}

#signUpButton {
  background-color: #8fa06a;
  color: white;
  border: 5px solid #45673e;
  border-style: groove;
  text-shadow: 2px 2px #45673e;
  margin: 10px;
}

#suggestMusic {
  text-align: center;
  font-size: 20px;
}

.saveMusic {
  border: 2px solid black;
  font-size: 20px;
}

.playlistItem {
  display: block;
  text-align: center;
  font-family: "Alata", sans-serif;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #8fa06a;
  color: white;
  border: 5px solid #45673e;
  border-style: ridge;
  text-shadow: 2px 2px #45673e;
}

#playlistImg {
  display: flex;
  justify-content: center;
}

#playlistURL {
  display: flex;
  justify-content: center;
  font-family: "Alata", sans-serif;
}

#clickToSave {
  margin-bottom: 50px;
}

#playlistNotes {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
}

.addNoteForm {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  margin: 10px;
}

#noteForm {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Alata", sans-serif;
  margin: 5px;
  background-color: lightslategray;
  color: white;
  border: 5px solid darkslategray;
  border-style: ridge;
  text-shadow: 2px 2px darkslategray;
}

#deleteNote {
  font-family: "Alata", sans-serif;
  background-color: lightslategray;
  color: white;
  border: 5px solid darkslategray;
  border-style: ridge;
  text-shadow: 2px 2px darkslategray;
}

#saveNotes {
  background-color: lightslategray;
  color: white;
  border: 5px solid darkslategray;
  border-style: ridge;
  text-shadow: 2px 2px darkslategray;
  margin-top: 5px;
}
