.body {
  background-color: #f1cb66;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-fluid {
  text-align: center;
  font-family: "Alata", sans-serif;
}

#mainPageTitle {
  font-family: "Great Vibes", cursive;
  letter-spacing: 2px;
  font-size: 40px;
}

#mainHeader {
  font-family: "Great Vibes", cursive;
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 20px;
}

nav {
  align-items: center;
}

#appDescription {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 4;
}

.signUpHeading {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  margin: 25px;
  text-align: center;
}

.signInHeading {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 20px;
  margin: 25px;
  text-align: center;
}

.signUpForm {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Alata", sans-serif;
  text-align: left;
}

#createProfile {
  margin: 20px 0px 20px 0px;
}

.signInForm {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Alata", sans-serif;
}

#signInButton {
  margin: 20px 0px 20px 0px;
}

.suggestMusic {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 4 / 10;
  border: 2px solid black;
  font-size: 20px;
}

.saveMusic {
  border: 2px solid black;
  font-size: 20px;
}

.playlistItem {
  display: block;
  text-align: center;
  font-family: "Alata", sans-serif;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#playlistImg {
  display: flex;
  justify-content: center;
}

#playlistURL {
  display: flex;
  justify-content: center;
}

#clickToSave {
  margin-bottom: 50px;
}

.addNoteForm {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  margin: 5px;
}

#noteForm {
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Alata", sans-serif;
  margin: 5px;
}
