<button><a href="/auth/logout">Logout</a></button>
<h2 class="suggestMusic">Music Suggestions</h2>

<% playlists.forEach(playlist => { %>
<div class="playlistItem"><%= playlist.name %></div>
<img
  class="playlistItem"
  id="playlistImg"
  width="300"
  height="300"
  src="<%= playlist.image %>"
/>
<button class="playlistItem" id="playlistURL">
  <a href="<%= playlist.URL %>" target="_blank">Click to Listen</a>
</button>
<form method="post" action="/user/saved/<%= playlist.id %>?_method=PUT">
  <button class="playlistItem" id="clickToSave" type="submit">
    Click to Save
  </button>
</form>
<% }) %>
