<div class="container-fluid">
  <h2 id="suggestMusic">Music Suggestions</h2>
</div>

<% playlists.forEach(playlist => { %>
<div class="playlistItem"><%= playlist.name %></div>
<img
  class="playlistItem"
  id="playlistImg"
  width="300"
  height="300"
  src="<%= playlist.image %>"
/>
<a href="<%= playlist.URL %>" target="_blank"
  ><button class="playlistItem" id="playlistURL">Click to Listen</button></a
>
<form method="post" action="/user/saved/<%= playlist.id %>?_method=PUT">
  <button class="playlistItem" id="clickToSave" type="submit">
    Click to Save
  </button>
</form>
<% }) %>
