<!-- <h1>Profile route is working!</h1>

<form method="post" action="/user/profile">
  <div>
    <label>Music Preferences:</label>
    <input name="musicPreferences" type="text" />
  </div>

  <div>
    <label>Year of Birth:</label>
    <input name="yearOfBirth" type="text" />
  </div>

  <div>
    <label>Country of Youth (ages 10 - 18):</label>
    <input name="countryOfYouth" type="text" />
  </div>

  <button type="submit">Create Profile</button>
  </form>
</form> -->
