<h2 class="suggestMusic">Music Suggestions</h2>

<form method="post" action="/user/profile"></form>
<% playlists.forEach(playlist => { %>
<div class="playlistItem"><%= playlist.name %></div>
<img
  class="playlistItem"
  id="playlistImg"
  width="300"
  height="300"
  src="<%= playlist.image %>"
/>
<button class="playlistItem" id="playlistURL">
  <a href="<%= playlist.URL %>" target="_blank">Click to Listen</a>
</button>
<button class="playlistItem" id="clickToSave"><a></a>
  Click to Save</a>
</button>
<% }) %>
