<section id="homePageImg">
  <div class="container-fluid">
    <nav>
      <div class="row">
        <a href="/auth/signup"
          ><button class="col-4" id="signUpButton">
            CREATE NEW ACCOUNT
          </button></a
        >
      </div>
      <div class="row">
        <a href="/auth/signin"
          ><button class="col-4" id="signInButton">SIGN IN</button></a
        >
      </div>
    </nav>
    <div class="row" id="appDescription">
      <p class="col-6 offset-3">
        Create a new account for a senior individual <br />
        that you work with or spend time with. <br />
        Get suggestions for music based <br />
        on their preferences! <br />
      </p>
    </div>
  </div>
</section>
